ALTER TABLE customers ADD COLUMN rejection_reason TEXT DEFAULT NULL, ADD COLUMN correction_fields TEXT DEFAULT NULL, ADD COLUMN admin_note TEXT DEFAULT NULL, ADD COLUMN client_resubmitted TINYINT(1) DEFAULT 0;
